//<QUANTITY>
// Сніппет (HTML): qa
.quantity {
	width: toRem(100);
	height: toRem(36);
	display: flex;
	border-radius: toRem(12);
	color: $darkColor;
	background-color: #F6F6F6;
	// .quantity__button
	&__button {
		flex: 0 0 toRem(30);
		position: relative;
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: #a6a6a6;
			width: 9px;
			height: 1px;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					background-color: $darkColor;
				}
			}
		}
		// .quantity__button_plus
		&--plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&--minus {
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
			color: $darkColor;
			height: 100%;
			font-size: toRem(12);
			font-weight: 500;
			width: 100%;
			text-align: center;
			background-color: #F6F6F6;
		}
	}
}
