//========================================================================================================================================================
// --== CATALOG ==--
//========================================================================================================================================================

.catalog {
	@include adaptiveValue("padding-top", 108, 65);
	// .catalog__container
	&__container {
		display: flex;
		align-items: flex-start;
	}
	// .catalog__filter
	&__filter {
		flex: 0 0 toRem(295);
	}
	// .catalog__body
	&__body {
		flex: 1 1 auto;
	}
	// .catalog__header
	&__header {
	}
	// .catalog__title
	&__title {
	}
	// .catalog__type
	&__type {
	}
	// .catalog__items
	&__items {
	}
}

.filter {
	border-right: toRem(1) solid #bebcbd;
	// .filter__title
	&__title {
	}
	// .filter__open
	&__open {
	}
	// .filter__body
	&__body {
	}
	// .filter__section
	&__section {
	}
}

//========================================================================================================================================================
.title-filter {
	&.active {
		.title-filter__button:not(.title-filter__button--main)::before {
			transform: rotate(-180deg);
		}
	}
	// .title-filter__button
	&__button {
		border-bottom: toRem(1) solid #bebcbd;
		padding: toRem(20) toRem(30);
		gap: toRem(15);
		display: flex;
		width: 100%;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
		font-size: toRem(22);
		font-weight: 600;
		transition: all 0.3s;
		&::before {
			font-size: toRem(8);
			font-weight: 400;
			transition: all 0.3s;
		}
		&--main {
			&::before {
				font-size: toRem(16);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: #000;
			}
		}
	}
}
//========================================================================================================================================================


.section-filter {
	// .section-filter__body
	&__body {
		padding: toRem(35) toRem(30);
		border-bottom: toRem(1) solid #bebcbd;
	}
	// .section-filter__menu
	&__menu {
	}
	// .section-filter__title
	&__title {
	}
	// .section-filter__price
	&__price {
	}
}

.menu-filter {
	// .menu-filter__list
	&__list {
	}
	// .menu-filter__item
	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(18);
		}
	}
	// .menu-filter__link
	&__link {
		color: #8a8989;
		font-weight: 600;
		line-height: 118.75%; /* 19/16 */
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: toRem(10);
		transition: all 0.3s;
		&::before {
			font-size: toRem(14);
		}
		&.active {
			color: #000;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #000;
			}
		}
	}
}

.price-filter {
	// .price-filter__range
	&__range {
		&:not(:last-child) {
			margin-bottom: toRem(32);
		}
	}
	// .price-filter__inputs
	&__inputs {
		display: flex;
		gap: toRem(30);
		justify-content: space-between;
	}
	// .price-filter__input
	&__input {
		width: toRem(97);
		height: toRem(32);
		text-align: center;
		border-radius: toRem(8);
		color: $darkColor;
		font-weight: 500;
		border: toRem(1) solid #bebcbd;
		&:focus {
			outline: toRem(1) solid $darkColor;
		}
	}
}
